@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
    --custom-ff-sans-serif: "Fjalla One", sans-serif;
    --custom-ff-serif: "Lora", serif;
    --breakpoint: 990px;

    --orange: #e36e40;
    --light-blue: #8ef2ff;
    --white: #ffffff;
    --black: #161819;
    --grey: #3e3e43;
}

body {
    font-family: var(--custom-ff-serif);
    background-color: var(--black);
    color: var(--white);
}

h1 {
    color: var(--orange);
}
h2,
h3,
h4,
h5,
h6 {
    color: var(--light-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--custom-ff-sans-serif);
}

.custom-btn {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--orange);
}

.custom-btn:hover {
    background-color: var(--grey);
    border-color: transparent;
}

.modal input,
.modal textarea {
    background-color: var(--grey);
    border-color: var(--orange);
}

.modal-btn {
    margin: 0 auto;
    display: block;
}

.modal-content {
    background-color: var(--black);
    color: var(--orange);
}

.modal textarea {
    resize: none;
}

.task-pane {
    min-height: 40vh;
    background-color: var(--grey);
    margin-bottom: 0.8rem;
}

.task-pane ul {
    min-height: inherit;
    border: 2px solid;
}

.task-pane:hover {
    cursor: move;
}

.task-pane .card {
    background-color: #161819;
    color: var(--white);
}

.task-pane h4 {
    color: var(--orange);
}

.task-pane .card-header {
    border-color: var(--orange);
}

@media screen and (min-width: 990px) {
    .task-display {
        margin: 0 auto;
        display: grid;

        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5rem;
        grid-template-areas:
            "heading heading heading"
            "to-do in-progress complete";
    }

    .task-display > .heading {
        grid-area: heading;
    }
    .task-pane.task-to-do {
        grid-area: to-do;
    }
    .task-pane.task-in-progress {
        grid-area: in-progress;
    }
    .task-pane.task-completed {
        grid-area: complete;
    }
}
